MODE=development

# Database configuration
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_HOST=postgres
DATABASE_DB_NAME=unie
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB_NAME}?schema=public

# PgAdmin configuration
PGADMIN_EMAIL=admin@example.com

# Next Auth configuration
NEXTAUTH_URL=http://localhost
NEXTAUTH_SECRET=your_jwt_secret

# Host configuration
HOST=0.0.0.0
PORT=3000